{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HotTrack</title>

    {# https://cdnjs.com/libraries/bootstrap #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>

</head>
<body>
{# ref: https://getbootstrap.com/docs/5.3/examples/album/ #}

<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-body-secondary">Add some information about the album below, the author, or any other
                        background context. Make it a few sentences long so folks can pick up some informative tidbits.
                        Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="d-flex align-items-center">
                <a href="{% url 'music:root' %}" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
                         viewBox="0 0 24 24">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Home</strong>
                </a>
                <a href="{% url 'music:index' %}" class="navbar-brand d-flex align-items-center ms-3">
                    <strong>인기차트</strong>
                </a>
                <a href="{% url 'playlist:create_playlist' %}" class="navbar-brand d-flex align-items-center ms-3">
                    <strong>
                        노래 리스트</strong>
                </a>
                <a href="{% url 'community:post_list' %}" class="navbar-brand d-flex align-items-center ms-3">
                    <strong>게시판</strong>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div class="text-end">
                    {% if not user.is_authenticated %}
                        {% url 'accounts:login' as login_url %}
                        <a href="{{ login_url }}{% if login_url != request.path %}?next={{ request.path }}{% endif %}"
                           class="btn btn-outline-light me-3">로그인</a>
                        <a href="{% url 'accounts:signup' %}?next={{ request.path }}"
                           class="btn btn-outline-light me-3">회원가입</a>
                    {% else %}
                        <a href="{% url 'accounts:logout' %}?next={{ request.path }}"
                           hx-target="body"
                           hx-push-url="true"
                           class="btn btn-outline-light me-3">로그아웃</a>
                    {% endif %}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container mt-4">
    <h1>게시물 목록</h1>
    {% if posts %}
        <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
    {% endif %}
    <tbody>
    {% for post in posts %}
        <tr>
            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td><a href="{% url 'community:post_detail' post.pk %}">{{ post.title }}</a></td>
            <td>{{ post.author.username }}</td>
            <td>{{ post.created_at|date:"Y-m-d" }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'community:post_create' %}" class="btn btn-success">새 게시물 작성</a>

        <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">첫 페이지</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">마지막 페이지</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</body>
