<input type="hidden" name="song_id" value="{{ song_id }}">
<div class="card shadow-sm w-100 mx-auto">
    {# refs: https://picsum.photos/ #}
    {% if song.cover_url %}
        <img src="{{ song.cover_url }}" alt="{{ song.name }}" class="card-img-top ">
    {% elif song.song_file %}
        <img src="{{ song.song_file.url }}" alt="{{ song.name }}" class="card-img-top ">
    {% else %}
        <p>이미지 파일이 없습니다.</p>
    {% endif %}
    <div class="card-body">
        <p class="card-text">
        <div class="text-nowrap overflow-hidden text-truncate">{{ song.artist_name }} | {{ song.name }}</div>
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                {% if user.is_authenticated and not song.song_file %}
                    <a href="{{ song.melon_detail_url }}" type="button" class="btn btn-sm btn-outline-danger">Melon</a>
                    <a href="{{ song.youtube_search_url }}" type="button"
                       class="btn btn-sm btn-outline-danger">Youtube</a>
                {% elif not user.is_authenticated %}
                    <a href="{% url 'accounts:login' %}" type="button" class="btn btn-sm btn-outline-danger">로그인 후
                        이용해주세요.</a>
                {% endif %}
            </div>
            <small class="text-body-secondary">
                좋아요 ♥ : {{ song.like_count.count }}
            </small>
        </div>
    </div>
</div>
